#projects-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.project{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: blue;
}

@media (min-width: 600px){
    .projects-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px){
    .projects-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}