:root{
    font-size: 10px;
    --project-spacing: 3rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 span{
    font-size: 15vw;
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 1rem;
}

#projects-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--project-spacing);
    padding: var(--project-spacing);
}

.project{
    padding: 20px;
    border: 1px solid black;
    background-color: midnightblue;
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 10px;
}


@media screen and (min-width: 600px){
    #projects-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px){
    #projects-container{
        grid-template-columns: repeat(3, 1fr);
    }
}